* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(47, 50, 206, 0.466);
}

::-webkit-scrollbar-track {
  height: 10px;
}


::-webkit-scrollbar-thumb {
  background: #4c00ff;
  border-radius: 10px;
  margin-bottom: 15px;
}


::-webkit-scrollbar-thumb:hover {
  background: #003cff;
}

a {
  text-decoration: none;
}
